<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Azure Search Emulator 1.0</title>
    <link rel="icon" type="image/png" href="../Azure-Search.png" />

    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/e4e1a5e341.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#button").click(function(e) {
          let inputvalue = $("#input").val();
          window.location.replace("/sql/search?key=" + inputvalue);
        });
      });
    </script>
  </head>
  <body>
    <div class="container firstContainer">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Clocal Azure - Azure Search Emulator 1.0</h1>
          <img src="../Azure-Search.png" width="250px" />
        </div>
      </div>

      <div class="row">
        <div class="col-12 columnBottom">
          <form>
            <input
              type="text"
              id="input"
              autocomplete="off"
              spellcheck="false"
              class="textbox"
              placeholder="Search Explorer"
            />
            <button type="button" id="button" title="Search" class="button">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <hr>
      <div class="row text-center">
        <div class="col-12">
          <a href="/sql/indexes" class="btn btn-primary">View Indexes</a>
          <a href="/sql/indexes/create" class="btn btn-success">Add Index</a>
          <a href="/sql/indexes/drop" class="btn btn-danger">Drop Index</a>
          <a href="/sql/count" class="btn btn-warning">Count</a>

          <a href="/" class="btn btn-secondary">Back</a>

        </div>
      </div>
    </div>
  </body>
</html>
